
:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* PAGE WIDTH */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: lightblue;
    padding: 20px;
}

.logo {
    width: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    color: var(--accent1-color);
}

/* HERO */
h1 {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.hero img {
    width: 100%;
}

.h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
}

.hero article img {
    float: right;
    width: 125px;
}

/* HISTORY (3 columns) */
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 40px 0;
    align-items: center;
}

/* ADVENTURES (5 images horizontal) */
.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.adventure-gallery img {
    width: 100%;
    border-radius: 5px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #eee;
}

/* SOCIAL MEDIA ICONS SMALL + HORIZONTAL RIGHT */
.socialmedia {
    display: flex;
    gap: 20px;
}

.socialmedia img {
    width: 40px;
    height: auto;
    transition: 0.3s;
}

.socialmedia img:hover {
    transform: scale(1.1);
}
    