:root {
    --background-color: darkblue;
    --colour: darkblue;
    --padding: 10px;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding)
}
nav a {
    color: white;
    display: blocl;
    padding: 20px;
}
hi {
    colour: var(--colour);
}
img {
    width: 150px;
    height:auto;
    border: 2px;
    padding:2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}